{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}

header{
    background-image: url("C:\Users\wwwya\Pictures\182168322_1889718871183263_8606388377185110355_n.jpg")
    height:100vh;
    background-size: cover;
    background-position: center;
}
