{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}

body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fred-nature&psig=AOvVaw3uBr16cZfoXKvcjMw6DCd-&ust=1667932980346000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCJjp0tjcnPsCFQAAAAAdAAAAABAE");
}
